
@{
    ViewBag.Title = "InfoGetPass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.IsGetPass == "true")
{
    <p>На указазнный вами адрес электронной почты, мы выслали данные для восстановления пароля.</p>
}
else
{
    <p>Проблемы с почтовым сервисом попробуйте позже</p>
}





