
@{
    ViewBag.Title = "InfoRegis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (ViewBag.IsRegis == "true")
{
    <p>На указанный вами адрес электронной почты мы выслали письмо, для подтверждения регистрации.</p>
}
else
{
    <p>Проблемы с почтовым сервисом попробуйте позже</p>
}



